@import '../../node_modules/modern-normalize/modern-normalize';
.soleil{
    width: 100px;
    height: 81px;
    background-color: whitesmoke;
    border-radius: 100px;
    margin-top: 250px;
    margin-right: 50px;
}

.img{
    text-align: right;
}

body{
    background-image: url(../assets/images/cloudy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header--container {
    background-color: grey;
    opacity: 70%;
    height: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

@media (orientation: landscape){
body{
    background-image: url(../assets/images/sunny.jpg)
}

.soleil{
    margin-top: 150px;
}
.img{
    text-align: right;
}

.header--container{
    background-color: white;
}

}
