@import '../../node_modules/modern-normalize/modern-normalize';
.soleil{
    width: 100px;
    height: 81px;
    background-color: rgb(140, 143, 143);
    border-radius: 100px;
}
.img{
    text-align: right;
    margin-right: 50px;
    margin-top: 250px;
}